extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='name') Brand name:
      input#name.form-control(
        type='text', 
        placeholder='Insert brand name' 
        name='name' 
        value=(undefined===brand ? '' : brand.name))

    //-   label(for='imageURL') Brand picture:
    //-   input#name.form-control(
    //-     type='file', 
    //-     placeholder='image' 
    //-     name='imageURL' 
    //-     required='true'
    //-     value=(undefined===brand ? '' : brand.imageURL))
    button.btn.btn-primary(type='submit') Submit

  if errors
    h1 Error's message
        ul
            for error in errors
                li!= error.msg